#viewer .page {
    color: rgba(33, 26, 24, 1);
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.3);
    background-color: none;
    background-image: url("/011-subtle-light-patterns.jpg");
    background-repeat: repeat;
}

viewer #outer {
    border: none;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

#viewer .topmenu {
    background-image: url("/011-subtle-light-patterns.jpg");
    background-repeat: repeat;
}

#viewer ::-moz-selection {
    color: white;
    background: black;
}
#viewer ::selection {
    color: white;
    background: black;
}
